/* -----Root Variable */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* Root Variable */
:root {
    --color-admin: #303396;
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --color-lu: #087830;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* Root Scrollbar Customization */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background: rgb(233, 233, 233);
    /* Scrollbar color */
    border-radius: var(--border-radius-2);
    /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
    /* Hover effect */
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    /* Background color of the scrollbar track */
    border-radius: var(--border-radius-2);
    /* Rounded edges for the track */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    /* Optional: subtle shadow for the track */
}



.allWindowList {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 10px;

}

.allWindowList.two-columns {
    border: 1px solid white;
    grid-template-columns: repeat(2, 1fr);

}

.allWindowList .list-group-item {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}

.allWindowList .list-group-item .status {
    font-size: 12px;
    font-weight: bold;
    color: #f3c437;
    margin-bottom: 5px;
    text-align: center;
}

.allWindowList .list-group-item .client-details .studentNo {
    font-size: 24px;
}

.allWindowList .list-group-item .client-details .studentName {
    font-size: 10px;
}

.allWindowList .active {
    background-color: rgb(32, 155, 32) !important;
    font-weight: 500;
}

.allWindowList .list-group-item span {
    font-size: 8px;
    display: block;
    text-align: center;
}

.allWindow-nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 70px;
    padding-left: 3rem;
    gap: 1rem;
}

.allWindow-nav .lu-logo {
    justify-self: start;
}

.allWindow-nav .dept-title {
    text-align: left;
    color: white;
}

#fullscreenBtn {
    justify-self: end;
}

.allwindow-card {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    font-family: poppins, sans-serif;
}

.allwindow-card>div {
    width: 100%;
    height: 600px;
    padding: 24px;
    box-shadow: var(--box-shadow);
    transition: all 400ms ease;
    border: solid 1px rgb(255, 255, 255);
}

.allwindow-card>div:hover {
    box-shadow: none;
    transform: scale(1.02);
}

/* homepage */
.core-function-card {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    font-family: poppins, sans-serif;
}

.select-services-card {
    margin-top: 1rem;
    width: 70%;
}

.select-services-card select {
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.generate-client-card {
    margin: 0 auto;
    display: grid;
    width: 65%;
    grid-template-columns: auto auto auto;
    gap: 3rem;
    margin-top: 1rem;
    font-family: poppins, sans-serif;
}


.generate-client-card input {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.or {
    padding-top: 8px;
    color: #828282;
    font-weight: 400;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.dept-dropdown {
    width: 128px;
    margin-right: 16px;
}

.dept-dropdown select option {
    color: rgb(64, 64, 64) !important;
}

.qms-stack {
    padding: 16px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.status.wavy {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    text-align: center;
    animation: wave 1s ease-in-out infinite;
}

.queue-ongoing-card {
    height: 95%;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
}

.queue-ongoing-card .queue-window {
    padding: 16px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;

}

.queue-ongoing-card .queue-window h5,
.queue-ongoing-card .queue-window h1,
.queue-ongoing-card .queue-window h6 {
    font-weight: 900;
}

.queue-ongoing-card .queue-window h5 {
    font-size: 24px;
    color: rgb(32, 155, 32);
}

.queue-ongoing-card .queue-window h1 {
    font-size: 82px;
    color: rgb(63, 63, 63);
}

.queue-ongoing-card .queue-window h6 {
    font-size: 24px;
    color: rgb(63, 63, 63);
}

.queue-ongoing-card .queue-window #client-name {
    font-size: 20px;
    font-weight: 600;
    color: rgb(59, 59, 59);
}

.queue-waiting {
    background-color: rgb(237, 212, 166);
}

/* for shared window setting */
.shared-window-card {}

.setting {
    margin: 3rem 0px 1rem 1rem;
    color: rgb(61, 61, 61);
    font-weight: 600;
    font-size: 20px;
}