.logo-header {
    background-color: #008000 !important;
}

.gg-menu-right,
.gg-menu-left,
.gg-more-vertical-alt {
    color: white;
}

/* .fa-home::before {
    color: rgb(140, 140, 140) !important;
} */
